@media (max-width: 768px) {
    .existing-navbar {
      display: none;
    }
  }
  .pagination {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
 h1{
    font-size: 122px;
 }